#root {
    height: 100%;
}
.ant-layout {
    height: 100%;
}
aside.ant-layout-sider-children {
    height: 100;
}
header.ant-layout-header {
    padding:0;
    padding-right: 20px;
    /* position: fixed; */
    top: 0;
    /* height: 80px; */
    width: 100%;
    opacity: 1;
}
.hover-pointer:hover {
    cursor: pointer;
}
main.ant-layout-content {
    height: calc(100% - 64);
    overflow-y: scroll;
   /* margin-top: 64px; */
}